<div class="header">
  <h1 mat-dialog-title>Hierarchy</h1>
  <div class="hierarchies">
    <div class="hierarchy-card">{{mainHierarchy}}</div>
    <div style="font-size: 40px; font-weight: 100">|</div>
    <div class="hierarchy-card">{{subHierarchy}}</div>
  </div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Elements">
      <button mat-icon-button class="addStk" (click)="addElement()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <div style="overflow: hidden;">
        <div class="table-rows">
          <mat-table #table [dataSource]="elementDataSource" matSort (matSortChange)="sortElementData($event)">
            <ng-container *ngFor="let disCol of elementTableColumns let colIndex = index;"
              matColumnDef="{{disCol.name}}" [ngSwitch]="disCol.name">
              <ng-container *ngSwitchCase="'id'">
                <mat-header-cell class="small" mat-sort-header *matHeaderCellDef> {{ disCol.title }} </mat-header-cell>
                <mat-cell class="small" *matCellDef="let row"> {{ row[disCol.name] }} </mat-cell>
              </ng-container>

              <ng-container *ngSwitchCase="'action'">
                <mat-header-cell class="small" mat-sort-header *matHeaderCellDef></mat-header-cell>
                <mat-cell class="small" *matCellDef="let row">
                  <ng-container *ngIf="!!row.id && row.id != '-'">
                    <button mat-icon-button class="addStk" (click)="$event.stopPropagation(); onEditElement(row)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="addStk"
                      (click)="$event.stopPropagation(); onDeleteItem(row, 'element')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>
                </mat-cell>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ disCol.title }} </mat-header-cell>
                <mat-cell [innerHtml]="!!row[disCol.name] ? row[disCol.name] : '--'" *matCellDef="let row"></mat-cell>
              </ng-container>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="elementDisplayedColumns sticky:true"></mat-header-row>
            <mat-row mat-row
              *matRowDef="let row; columns: elementDisplayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Requirements">
      <div class="header" style="margin: 8px;">
        <button mat-raised-button color="primary" (click)="onImportItem('requirement')">Import</button>
        <button mat-raised-button color="primary" (click)="onAddItem('requirement')">Add</button>
      </div>
      <div style="overflow: hidden;">
        <div class="table-rows">
          <mat-table #table [dataSource]="requirementDataSource" matSort (matSortChange)="sortRequirementData($event)">
            <ng-container *ngFor="let disCol of requirementTableColumns let colIndex = index;"
              matColumnDef="{{disCol.name}}" [ngSwitch]="disCol.name">
              <ng-container *ngSwitchCase="'id'">
                <mat-header-cell class="small" mat-sort-header *matHeaderCellDef> {{ disCol.title }} </mat-header-cell>
                <mat-cell class="small" *matCellDef="let row"> {{ row[disCol.name] }} </mat-cell>
              </ng-container>

              <ng-container *ngSwitchCase="'action'">
                <mat-header-cell class="small" mat-sort-header *matHeaderCellDef></mat-header-cell>
                <mat-cell class="small" *matCellDef="let row">
                  <ng-container *ngIf="!!row.id && row.id != '-'">
                    <button mat-icon-button class="addStk"
                      (click)="$event.stopPropagation(); onEditItem(row, 'requirement')">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="addStk"
                      (click)="$event.stopPropagation(); onDeleteItem(row, 'requirement')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>
                </mat-cell>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ disCol.title }} </mat-header-cell>
                <mat-cell [innerHtml]="!!row[disCol.name] ? row[disCol.name] : '--'" *matCellDef="let row"></mat-cell>
              </ng-container>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="requirementDisplayedColumns sticky:true"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: requirementDisplayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Design">
      <div class="header" style="margin: 8px;">
        <button mat-raised-button color="primary" (click)="onImportItem('design')">Import</button>
        <button mat-raised-button color="primary" (click)="onAddItem('design')">Add</button>
      </div>
      <div style="overflow: hidden;">
        <div class="table-rows">
          <mat-table #table [dataSource]="designDataSource" matSort (matSortChange)="sortDesignData($event)">
            <ng-container *ngFor="let disCol of designTableColumns let colIndex = index;" matColumnDef="{{disCol.name}}"
              [ngSwitch]="disCol.name">
              <ng-container *ngSwitchCase="'id'">
                <mat-header-cell class="small" mat-sort-header *matHeaderCellDef> {{ disCol.title }} </mat-header-cell>
                <mat-cell class="small" *matCellDef="let row"> {{ row[disCol.name] }} </mat-cell>
              </ng-container>

              <ng-container *ngSwitchCase="'action'">
                <mat-header-cell class="small" mat-sort-header *matHeaderCellDef></mat-header-cell>
                <mat-cell class="small" *matCellDef="let row">
                  <ng-container *ngIf="!!row.id && row.id != '-'">
                    <button mat-icon-button class="addStk"
                      (click)="$event.stopPropagation(); onEditItem(row, 'design')">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="addStk"
                      (click)="$event.stopPropagation(); onDeleteItem(row, 'design')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>
                </mat-cell>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <mat-header-cell mat-sort-header *matHeaderCellDef> {{ disCol.title }} </mat-header-cell>
                <mat-cell [innerHtml]="!!row[disCol.name] ? row[disCol.name] : '--'" *matCellDef="let row"></mat-cell>
              </ng-container>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="designDisplayedColumns sticky:true"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: designDisplayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>