<div class="header">
  <h1 mat-dialog-title>System Test</h1>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
<form [formGroup]="syststForm">
    <mat-form-field class="normstyle" appearance="outline">
        <mat-label>Test Description</mat-label>
        <textarea formControlName="taskdesc" matInput placeholder="Describe Testcase"></textarea>
      </mat-form-field>
      <mat-form-field class="shrtstyle" appearance="outline">
        <mat-label>Tester</mat-label>
        <input formControlName="stkmail" matInput placeholder="Email -id of Tester">
      </mat-form-field>
      <mat-form-field class="shrtstyle" appearance="outline">
        <mat-label>Test Container</mat-label>
        <input formControlName="testcnt" matInput placeholder="Test Container Link">
      </mat-form-field>
      <mat-form-field class="shrtstyle" appearance="outline">
        <mat-label> Environment </mat-label>  
        <mat-select formControlName="env">  
          <mat-option value = "SIL"> SIL </mat-option>  
          <mat-option value = "HIL"> HIL </mat-option>  
        </mat-select> 
      </mat-form-field>
        <mat-form-field class="shrtstyle" appearance="outline">
        <mat-label> State </mat-label>  
        <mat-select formControlName="state">  
          <mat-option value = "Spec-done"> Spec-done </mat-option>  
          <mat-option value = "Passed"> Passed </mat-option>  
        </mat-select> 
      </mat-form-field>
</form>
</div>
<div mat-dialog-action>
    <button mat-raised-button color="primary" mat-dialog-close (click)="addSystst()" [disabled]="syststForm.invalid">SUBMIT</button>
</div>