<mat-toolbar>
  <button mat-icon-button class="addTask" (click)="addTask()" >
    <mat-icon>add_circle</mat-icon>
  </button>
  <span>&nbsp;&nbsp;&nbsp;</span>
    <span style="font-weight:bold">TASK.|WORKSHEET.</span>
    <span class="example-spacer"></span>
    <p class="titlestyle">{{taskId}}&nbsp;:&nbsp;:&nbsp;{{titleRq}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <button mat-icon-button  class="addTask">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
  <pre >          StakeHolder Requirements   |  System Requirements    |     Software Requirements       |          Software Test        |       System Test</pre>
  <ng-container *ngIf = "taskExist">
    <button mat-icon-button class="addTask" (click)="addStake()" >
      <mat-icon>add_circle</mat-icon>
    </button>
  
  <ng-container  *ngFor ="let stake of dataObject.stk; let istk = index">
    <mat-card class="stkcard">
      <mat-card-content (click)="Openstk(istk)" ><p class ="desc">STK&nbsp;-&nbsp;{{(istk+1)}}</p><p>{{stake.taskdesc}}</p></mat-card-content>
      <mat-card-actions>
        
        <button mat-icon-button  ><mat-icon>add_circle</mat-icon>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button mat-icon-button (click)="delStk(istk)" ><mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ng-container>