.stkcard{
    margin-left: 7%;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;   
    width: 150px;
    height: 65px;
    position: relative;
}
.syscard{
    margin-left: 24%;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;     
    width: 150px;
    height: 65px;
    position: relative;
}
.swcard{
    margin-left: 42%;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px; 
    width: 150px;
    height: 65px;
}

.swtestcard{
    margin-left: 68%; 
    margin-top: -30px; 
    margin-bottom: 40px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px; 
    width: 150px;
    height: 65px;
}
.syststcard{
    margin-left: 85%;
    margin-top: -30px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px; 
    width: 150px;
    height: 65px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .titlestyle{
    margin-top: 12px;
    font-weight: lighter;
  }

  .mat-card-content {
    font-size: 10px;
    height: 50px;
    width: 150px;
    line-height: 12px;
    overflow-wrap: break-word;
    overflow-y: hidden;
}
.mat-card-actions{
    margin-top: -30px;
}
.stkhr{
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(196, 189, 189);
    height: 1px;
}
.syshr{
    margin-left: 31%;
    margin-right: 16%;
    color: rgb(196, 189, 189);
    height: auto;
}
.swhr{
    margin-left: 49%;
    margin-right: 33%;
    color: rgb(196, 189, 189);
    height: auto;
}
.desc{
    color: gold;
}
.addStk{
    margin-left: 12%;
}
.head2{
    float:left;
    width:20%;

}
.stick{
    width: 100%;
    position: fixed;
    overflow:hidden;
    top:0;
    z-index: 1000;
}
.cont{
    overflow: hidden;
}

:host{
    .expation-button{
        position: absolute;
        bottom: -42px;
        left: 0px;
        color: black;
        background-color: #fff;
        z-index: 1;

        &.end{
            left: unset;
            right: 0;
        }
    }

    .inverted{
        transform: rotate(180deg);
    }

    ::ng-deep .mat-expansion-panel{
        background: #fff !important;
        box-shadow: unset !important;
        margin-top: 12px;
        overflow: visible;
    }

    .footer{
        padding: 8px 0px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba(2, 2, 2, 0.8);

        .action-button{
            background: #fff;
            color: #000;
            border-radius: 20px;
            width: 160px;
        }
    }

    .app-content {
        overflow: auto;
        height: calc(100vh - 52px);
    }
}